<div class="container-fluid">
  <div class="row">
    <div class="d-flex flex-column border justify-content-center align-items-center align-content-center">
      <h5 class="mt-5 mb-3">Modifier Un Moteur</h5>
      <form (ngSubmit)="onSubmit()" [formGroup]="editForm" class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column align-items-center">
            <div class="form-group mt-4 w-75">
              <label class="mb-3">
                <input class="form-control" formControlName="marque" placeholder="Marque" type="text">
              </label>
            </div>
            <div class="form-group mt-4 w-75">
              <label class="mb-3">
                <input class="form-control" formControlName="modele" placeholder="Modèle" type="text">
              </label>
            </div>
            <div class="form-group mt-4 w-75">
              <label class="mb-3">
                <input class="form-control" formControlName="annee" placeholder="Année" type="text">
              </label>
            </div>
            <div class="form-group mt-4 w-75">
              <select aria-label="disponible" class="mb-3 custom-select mr-sm-2" formControlName="disponible">
                <option selected value="Disponible">Disponible</option>
                <option value="Non disponible">Non disponible</option>
              </select>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="form-group mt-4 w-75">
              <label class="mb-3">
                <input class="form-control" formControlName="rc" placeholder="R.C" type="text">
              </label>
            </div>
            <div class="form-group mt-4 w-75">
              <label class="mb-3">
                <input class="form-control" formControlName="prix" placeholder="Prix" type="text">
              </label>
            </div>
            <div class="form-group mt-4 w-75">
              <label class="mb-3">
                <input class="form-control" formControlName="puissance" placeholder="Puissance" type="text">
              </label>
            </div>
            <div class="form-group mt-4 w-75">
              <select aria-label="etat" class="mb-3 custom-select mr-sm-2" formControlName="etat">
                <option selected value="Occasion">Occasion</option>
                <option value="Nouveau">Nouveau</option>
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="form-group mt-4 d-flex justify-content-between" style="width: 400px">
            <div class="w-100-px">
              <div class="outer-border w-100-px">
                <div class="plus"></div>
              </div>
              <label class="file-input-1 m-0">
                <input class="w-100 h-100" style="opacity: 0; cursor: pointer" (change)="onImageChange($event, 0)" type="file">
              </label>
              <div *ngIf="imgToDisplay[0]" >
                <img class="img1" [src]="imgToDisplay[0]" alt="engine1">
                <div class="delete-icon">
                  <img class="cursor-pointer" (click)="removeImg(0)" src="./assets/outline_delete_black_24dp.png" alt="delete">
                </div>
              </div>
            </div>
            <div class="w-100-px">
              <div class="outer-border w-100-px">
                <div class="plus"></div>
              </div>
              <label class="file-input-2 m-0">
                <input class="w-100 h-100" style="opacity: 0; cursor: pointer" (change)="onImageChange($event, 1)" type="file">
              </label>
              <div *ngIf="imgToDisplay[1]" >
                <img class="img2" *ngIf="imgToDisplay[1]" [src]="imgToDisplay[1]" alt="engine2">
                <div class="delete-icon">
                  <img class="cursor-pointer" (click)="removeImg(1)" src="./assets/outline_delete_black_24dp.png" alt="delete">
                </div>
              </div>
            </div>
            <div class="w-100-px">
              <div class="outer-border w-100-px">
                <div class="plus"></div>
              </div>
              <label class="file-input-3 m-0">
                <input class="w-100 h-100" style="opacity: 0; cursor: pointer" (change)="onImageChange($event, 2)" type="file">
              </label>
              <div *ngIf="imgToDisplay[2]" >
                <img class="img3" *ngIf="imgToDisplay[2]" [src]="imgToDisplay[2]" alt="engine3">
                <div class="delete-icon">
                  <img class="cursor-pointer" (click)="removeImg(2)" src="./assets/outline_delete_black_24dp.png" alt="delete">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="error.length > 0" [ngClass]="error.length > 0 ? 'd-block' : ''"
               class="invalid-feedback text-center">
            {{error}}
          </div>
          <button [disabled]="editForm.invalid || loading || !completeFiles()" id="btn-ctm" class="btn btn-primary m-5" type="submit">
            Modifier
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
